section{
    display: flex;
}
body{
    margin: 0;
}
.header{
    font-family: fantasy;
    font-size: 40px;
}
span{
    color: rgb(236, 117, 177);
}
.link-button{
    text-decoration: none;
    background-color: pink;
    padding: 10px 30px;
    border-radius: 20px 5px;
    font-style: 700;
    box-shadow: inset 0px 0px 8px 3px rgb(119, 109, 109);
    color: white

}
.link-button{
    background-image: linear-gradient(  rgb(219, 25, 132) , pink );

}
.paragraph{
    margin-bottom: 50px;

}
.box{
    width: 50%;
    
}
.box img{
    width: 100%;
    height: 80%;
}
.box-margin{
    margin-top: 5%;
    margin-left: 5%;
}

.box2 img{ 
    width: 200%;
}
.box3{
    margin-top: 10%;
    margin-left: 5%;
}
